<!--
    37 footer.mustache
    index.mustache 파일이 PHP의 include하듯이 구조가 변경이 가능
-->
    <div class="row">
        <div class="col bg-secondary">
            국민은행 : https://kbstar.com <br>
            정보보호책임자 : 홍길동 ( kdhong@kbstar.com ) <br>
            Copyright....
        </div>
    </div>

</div> <!-- container -->
</body>
</html>